<div class="contenedor">

    <!-- MENU LATERAL -->
    <aside class="menu">

        <div class="logo">
            👷
        </div>

        <div class="opcion">
            <span>⬛</span>
            <p>Agregar producto
            </p>
        </div>

        <div class="opcion activa">
            <span>📋</span>
            <p>Existencias</p>
        </div>

       <div class="opcion cerrar" (click)="cerrarSesion()">
    <span>🚪</span>
    <p>Cerrar sesión</p>
</div>
        

    </aside>


    <!-- CONTENIDO -->
    <main class="contenido">

        <div class="barra-superior">

            <button class="agregar">
                + Agregar productos
            </button>

            <div class="buscador">
                🔍
                <input type="text" placeholder="Buscar">
            </div>

        </div>


        <div class="tarjeta">

            <h1>Existencias</h1>

            <ul class="lista">

               <li *ngFor="let p of productos">

<span>📦 {{p.nombre}}</span>

<div class="controles">

<button type="button" (click)="cambiarCantidad(p,-1)">-</button>

<span>{{p.cantidad}}</span>

<button type="button" (click)="cambiarCantidad(p,1)">+</button>

</div>

</li>

            </ul>

        </div>

    </main>

</div>