<div class="contenedor">

    <!-- MENU LATERAL -->
    <aside class="menu">

        <div class="logo">
            👷
        </div>

        <div class="opcion">
            <span>⬛</span>
            <p>Categorías</p>
        </div>

        <div class="opcion activa">
            <span>📋</span>
            <p>Existencias</p>
        </div>

        <div class="opcion cerrar">
            <span>🚪</span>
            <p>Cerrar sesión</p>
        </div>

    </aside>


    <!-- CONTENIDO -->
    <main class="contenido">

        <div class="barra-superior">

            <button class="agregar">
                + Agregar productos
            </button>

            <div class="buscador">
                🔍
                <input type="text" placeholder="Buscar">
            </div>

        </div>


        <div class="tarjeta">

            <h1>Existencias</h1>

            <ul class="lista">

                <li>
                    <span>🧱 Cemento</span>
                    <div class="controles">
                        <button>-</button>
                        <span>25</span>
                        <button>+</button>
                    </div>
                </li>

                <li>
                    <span>🔩 Varilla</span>
                    <div class="controles">
                        <button>-</button>
                        <span>30</span>
                        <button>+</button>
                    </div>
                </li>

                <li>
                    <span>🔧 Taladros</span>
                    <div class="controles">
                        <button>-</button>
                        <span>15</span>
                        <button>+</button>
                    </div>
                </li>

                <li>
                    <span>🪛 Destornilladores</span>
                    <div class="controles">
                        <button>-</button>
                        <span>39</span>
                        <button>+</button>
                    </div>
                </li>

                <li>
                    <span>🔨 Martillos</span>
                    <div class="controles">
                        <button>-</button>
                        <span>40</span>
                        <button>+</button>
                    </div>
                </li>

            </ul>

        </div>

    </main>

</div>